<a href="https://colab.research.google.com/github/shuklasid19/homework1/blob/main/1st_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
expressions are  = - / * + etc..
value are = 6, "hello" , -87.8

2. What is the difference between string and variable?

In [ ]:
#string is also a kind of variable 
#string can be made up of characters and variables , string is immutable on location .
#variable value can be changed but string can not be changed...
#variable are references we create for using in program 
#variable reference can vary but not of string
#variables are used for storing values 
#a = 23

#string can be stored in variable a ="albert".
#string can be made of random characters.

3. Describe three different data types.

Data types-
integer = int
float = float
string = str
booleans

int - whole numbers without decimals
a = 32423
we can define it this way


float - floating value (decimals).
b = 23.2

string - characters defined by ''quotes or "" quotes
c = "alltogether"

4. What is an expression made up of? What do all expressions do?

In [ ]:
#an expression can be defined as  combination of operations , constants , variables 
#such as addition subtractions multiplication
#
#these can be performed on variables 
#example name = "siddharth"

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
#spam = 10
# expressions are actions that we perform with variables
# a+b a,b are operand + is operator
#print is an expression

#statement are like conditions that we give which performs some 
#action according to the condition.
#if condtion:
#elif condition:
#its an statement

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
bacon = 22
bacon + 1

#we assign 22 value in variable bacon
#bacon is a variable and the value 22 will be stored in bacon at some location
#and we add 1 in bacon which is declared previously it becomes 23

23

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [ ]:
'spam' + 'spamspam'
#it will add both the strings

'spamspamspam'

In [ ]:
'spam'*3
#it will multiply spam 3 times

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
# an integer can not store value
#variable should not start with numbers 100 does
eggs = 100 
#when we assign eggs it becomes a variable which follows python rules for defining variable
#100 does not thats why its invalid to store value its an integer...

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
#suppose the value given 
a = 3443
int(a)
type(a)

int

In [ ]:
b = "ineuron"
str(b)
type(b)

str

In [ ]:
c = 1243
c = float(c)
type(c)

float

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [ ]:
#we are trying to add string with int datatype so we have to convert into string first 
#and then add
"i have eaten " + str(99) + " burritos"

'i have eaten 99 burritos'