<a href="https://colab.research.google.com/github/shuklasid19/homework1/blob/main/2assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What are the two values of the Boolean data type? How do you write them?

In [ ]:
#Two boolean data type 
#1.True 
#2.False
a = True + True
print(a)

b = False - True
print(b)

2
-1

In [ ]:
while True:
  if True:
    print("True or False")
    break;
  
print(0==1)

True or False
False

In [ ]:
print(1==1)

True

2. What are the three different types of Boolean operators?

We have 3 types of boolean operators..
which are And, or and not...

In [ ]:
#1.And both condtions have to be correct
True and True

True

In [ ]:
#2.Or any one of them is true it will return 1 or true
True or False

True

In [ ]:
#3.not its like negative operator
a=5
a is not a

False

In [ ]:
b = 10
b is not a

True

3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

4. What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)
not (5 &gt; 4)
(5 &gt; 4) or (3 == 5)
not ((5 &gt; 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [ ]:
(5>4) and (3==5)
#because 5>4 return True and  returns False
#1 and 0

False

In [2]:
not (5>4)
#5>4 will return True but not will change it into not True return False

False

In [ ]:
(5>4) or (3==5)
#5>4 will return True 
#and (3==5) False 
#True or False

True

In [3]:
def funct(a):
  if a == 1:
    print("spam")
  elif a==2:
    print("howdy")
  else:
    print("Greetings!")

In [6]:
funct(0)

Greetings!

In [12]:
# Use of break statement inside the loop

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

In [18]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = 10
i=0
while True:
  i = i+1
  a = a-1
print(i)

10. How can you tell the difference between break and continue?

In [ ]:
#break will stop the execution in the loop 
#continue will skip and give control to the loop

In [ ]:
lis = [1,2,3,4,5]
for i in range(len(lis)):
  if lis[i]==3:
    break
  else:
    print(lis[i])

#so after it enters if and it will end the execution of the loop

1
2

In [ ]:
lis = [1,2,3,4,5]
for i in range(len(lis)):
  if lis[i]==3:
    continue
  else:
    print(lis[i])

#it does not stop the whole execution it will 
#enter the if condition and skips 
#and continues...

1
2
4
5

11.In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Same range function step size as 1 and starts from 0
if the parameters dont given by us...

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10, 1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#9.If your programme is stuck in an endless loop, what keys you’ll press?

In [ ]:
#ctrl + c

In [ ]:
#12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
#program that prints the numbers 1 to 10 using a while loop.

In [ ]:
for i in range(1, 11):
  print(i , end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
start = 0
while True:
  if start>=10:
    break
  start=start+1
  print(start, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
def spam():
  def bacon():
    print("inside bacon")
  bacon()

In [ ]:
spam()

In [ ]:

spam = 0
if spam == 10:
  print('eggs')
  if spam > 5:
    print('bacon')
else:
  print("ham")
  print("spam")
  print("spam")