<a href="https://colab.research.google.com/github/shuklasid19/homework1/blob/main/4th_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. What exactly is []?

#its used to define a list
a = []

In [ ]:
a.append(23)

In [ ]:
a

[23]

In [ ]:
2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [ ]:
spam = [2,4,6,8,10]

In [ ]:
spam[2] = "hello"

In [ ]:
spam

[2, 4, 'hello', 8, 10]

In [ ]:
#we take the index number and then assign the value which we want to replace

In [ ]:
spam = ['a', 'b', 'c', 'd']

In [ ]:
3. What is the value of spam[int(int('3' * 2) / 11)]?
#we will get 'd' because it will start solving from inside

In [ ]:
int('3'*2)

33

In [ ]:
int(int('3'*2))

33

In [ ]:
int(int('3'*2)/11)

3

In [ ]:
spam[int(int('3'*2)/11)]

'd'

In [ ]:
4. What is the value of spam[-1]?
spam[-1]
#because it starts index from backwards so -1 ='d' -2 = 'c' and so on

'd'

In [ ]:
#5. What is the value of spam[:2]?
#it tells to show values from starting index that is 0  til 2 but it will go til 1 index because its upperlimit
#so
spam[:2]

['a', 'b']

In [ ]:
#6. What is the value of bacon.index('cat')?
bacon = [3.14, 'cat', 11, 'cat', True]

#bacon.index('cat')
#the index starts from 0 so 'cat' are in 2 positions 1 and 3 but the 'cat' appears first so index 1 will be returnd

In [ ]:
bacon.index('cat')

1

In [ ]:
#7. How does bacon.append(99) change the look of the list value in bacon?
bacon

[3.14, 'cat', 11, 'cat', True]

In [ ]:
bacon.append(99)

In [ ]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
#it will add it after the last value

In [ ]:
#8. How does bacon.remove('cat') change the look of the list in bacon?
bacon.remove('cat')

In [ ]:
bacon
#it has remove the 'cat' at index 1

[3.14, 11, 'cat', True, 99]

In [ ]:
#9. What are the list concatenation and list replication operators?
#list concatenation and list replication are addition of two list  and multiplication respectively.

In [ ]:
l1 = [3,4, "dim"]
l2 = [2, 5, "witted"]
l1+l2 #list concatenation

[3, 4, 'dim', 2, 5, 'witted']

In [ ]:
#multiplication
a = ['alpacino'] * 4

In [ ]:
a

['alpacino', 'alpacino', 'alpacino', 'alpacino']

In [ ]:
#10. What is difference between the list methods append() and insert()?
#append adds the value after the last value in the list 
spam = ['a', 'b']
spam.append('c')
print(spam)

#insert adds value at a given index of the list
spam.insert(2, 'd')
#it will insert d at 2th index of spam list

['a', 'b', 'c']

In [ ]:
spam

['a', 'b', 'd', 'c']

In [ ]:
#11. What are the two methods for removing items from a list?
spam.remove('a')
# it removes the value given inside the paranthesis from list

In [ ]:
spam

['b', 'd', 'c']

In [ ]:
spam.pop(0)
#it removes value if we provide the index value from list

'b'

In [ ]:
spam

['d', 'c']

In [ ]:
12. Describe how list values and string values are identical.

In [ ]:
#in list the values are identified by an index,
# lists are similar to strings 
#which are ordered colection of characters,
# except that the elements of a list can have any type
lis = ["a", 23, {'asd':43}]

In [ ]:
lis

['a', 23, {'asd': 43}]

In [ ]:
stre = ("aladas", "asd", "Asd")

In [ ]:
13. What's the difference between tuples and lists?
#tuples and list are similar to each other list have []
#and tuples () parantheses and we can any type of values in both 
##and tuples are immutable that means cant be changed after created but list can be

In [ ]:
#14. How do you type a tuple value that only contains the integer 42?
tup = [32]

In [ ]:
tup

[32]

In [ ]:
type(tup)

list

In [ ]:
15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [ ]:
lis = [23, 'a']
tupl  = tuple(lis)

In [ ]:
type(tupl)

tuple

In [ ]:
tupl

(23, 'a')

In [ ]:
lis = list(tupl)

In [ ]:
type(lis)

list

In [ ]:
16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
a = [34,6,23,45]

In [ ]:
#Variables will contain the references to the list values.

In [ ]:
17. How do you distinguish between copy.copy() and copy.deepcopy()?
#copy.copy() will construct new object and will insert the reference of the object whereas
#copy.deepcopy() will also construct a new object and then insert copies into the 
#object found into the original

#copy and deepcopy creates new copy of the Variables
#changes on original variable will not be reflected to copy variable and vice versa
#.copy() doesnt creates copy of nested objects ,
#instead it just copies the reference of nested objects.
#. Deepcopy copies all the nested objects recursively.
#in deep copy any change on copied variable will be seen on original and vice versaca